:root{
    --orange: #e28525;
    --aqua: #016972;
    --greenDark: #00403f;
    font-size: 1em;
    font-family: 'Lexend Deca', sans-serif;
    user-select: none;

}
h1{
    font-family: 'Big Shoulders Display', cursive;
    color: #fff;
    font-weight:700; 

}
p{
    color: #fff;
    font-weight: 400;
    line-height: 20px;
}
.contenedor{
    display: flex;
    width: 1125px;
    justify-content: center;
    margin:  50px auto;
}
.seccion-box{

    width: 375px;
    padding: 15px;
    
}
.card-1{
    background: var(--orange);
    border-radius: 15px 0px 0px 15px;

}

.card-2{
    background: var(--aqua);
}

.card-3{
    background: var(--greenDark);
    border-radius: 0px 15px 15px 0px;
}

.btn-clasic{
   margin-top: 100px;
   padding: 10px;
   color: #fff;
   border: 2px solid #fff;
   outline: none;
   border-radius: 40px;
   width: 120px;
   transition: all .25s;
   background: hsla(0, 0%, 100%, 0.75);
}



.btn-card_1{
    color: var(--orange);
}

.btn-card_2{
    color: var(--aqua);
}

.btn-card_3{
    color: var(--greenDark);
}

.btn-card_1:hover{
    color: #FFF;
    background: var(--orange);
}

.btn-card_2:hover{
    color: #fff;
    background: var(--aqua);
}

.btn-card_3:hover{
    color: #fff;
    background: var(--greenDark);
}



/* footer */
.attribution { 
    font-size: 11px; text-align: center; 
    padding: 30px;
}
.attribution a { 
    color: #3e52a3; 
}
@media   (max-width:675px) and (min-width:320px)   {
    .contenedor{
        flex-direction: column;
        width: 90%;
    }
    .seccion-box{
        width: 100%;
    }
    .card-1{
        border-radius: 15px 15px 0px 0px ;
    }
    .card-3{
        border-radius: 0px 0px 15px 15px;
    }
    .btn-clasic{
        margin-top: 70px;
    }
}








